<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
    
        
    
    <header>
        <nav>
            <ul id="nav">
                <li class="slide1"></li>
                <li class="slide2"></li>
                <li><a href="web/main.html">网站首页</a></li>
                <li><a href="web/culture.html">文化湖北</a></li>
                <li><a href="web/diet.html">食在湖北</a></li>
                <li><a href="web/travel.html">景点推荐</a></li>
                <li><a href="web/craft.html">非遗传承</a></li>
            </ul>
        </nav>
    </header>
    
        {% block content %}{% endblock %}
   
</body>
</html>