<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>非遗传承</title> -->
    {% extends "../base.html" %}
    {% block title %}首页{% endblock %}
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <header>    
        <ul id="nav">
            <li class="slide1"></li>
            <li class="slide2"></li>
            <li><a href="../index.html">网站首页</a></li>
            <li><a href="culture.html">文化湖北</a></li>
            <li><a href="diet.html">食在湖北</a></li>
            <li><a href="travel.html">景点推荐</a></li>
            <li><a href="craft.html">非遗传承</a></li>
        </ul>
    </header>
    <script src="../myjs.js"></script>
</body>
</html>